page-summary {

    h2 {
        margin-top: 60px;
        margin-bottom: 60px;
    }

    .inner-box {
        padding-top: 20px;
        font-family: digital;
        background-color: #94be7f;
        font-size: 20px;
    }

    label {
        display: inline-block;
        width: 50%;
        margin:  10px 0;
        color: #fff;
    }
}
